{% for data_row in data | batch(2, '&nbsp;') %}
        <div class="card-deck row">
        {% for item in data_row %}
            <div class="card mb-3 col" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4" style="margin-top: 20px; margin-bottom: 20px;">
                    {% if item.thumbnail == 'none' %}
                    <img src="{{ item.thumbnail }}" class="card-img" style="visibility: hidden" alt="">
                    {% else %}
                    <img src="{{ item.thumbnail }}" class="card-img" alt="">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title justify-content-between">{{ item.event }}</h5>
                      <p class="card-text justify-content-between">{{ item.date }}</p>
                      <p class="card-text justify-content-between"><small class="text-muted badge badge-warning">{{ item.time }}</small></p>
                      <button type="button justify-content-between" class="btn btn-primary snapbottom" onclick="window.open('{{ item.link }}')">Info</button>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
        {% endfor %}